<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>MItfahrgemeinschaft</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/header.css"/>
        <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
        <link rel="stylesheet" type="text/css" href="/css/form.css"/>
        <link rel="stylesheet" type="text/css" href="/css/tour.css" />
        <link rel="stylesheet" href="/fonts/TitilliumWeb-Regular.ttf" type="font/ttf">
        <!--<link rel="icon" type="image/jpeg" href="/icons/hsrm-icon.jpg">-->

    </head>

    <body>

        <th:block th:replace="~{frag/kopffuss :: kopf}"></th:block>

        <div class="form-wrapper">

            <div class="form-header">
                <span th:if="${tnummer} gt 0" th:text="#{tour.bearbeiten(${tnummer})}">Tour bearbeiten</span>
                <span th:if="${tnummer} eq 0" th:text="#{tour.neu}">Neue Tour</span>
            </div>

            <form th:action="@{#}" th:object="${formular}" method="post">

                <div class="field-container">
                    <label th:text="#{tour.anbieter}" for="anbieter">Anbieter</label><br>
                    <select th:field="*{anbieter}" th:errorclass="input-error" name="anbieter">
                        <option th:if="${tnummer} eq 0" th:text="---" th:value="0">Invalid</option>
                        <option th:each="b: ${benutzer}" th:value="${b.id}" th:text="${b.name + ' ' + b.surname}"></option>
                    </select>
                    <label th:if="*{#fields.hasErrors('anbieter')}" th:each="err : *{#fields.errors('anbieter')}" th:text="${err}" class="label-error" for="anbieter">So sieht ein Fehler aus</label><br>
                </div>

                <div class="field-container">
                    <label th:text="#{tour.abfahrt}" for="abfahrDateTime">Abfahrt</label><br>
                    <input th:errorclass="input-error" th:field="*{abfahrDateTime}" type="datetime-local" name="abfahrDateTime"><br>
                    <label th:if="*{#fields.hasErrors('abfahrDateTime')}" th:each="err : *{#fields.errors('abfahrDateTime')}" th:text="${err}" class="label-error" for="abfahrDateTime">So sieht ein Fehler aus</label><br>
                </div>

                <div class="field-container-large">
                    <label for="plaetze">Informationen</label><br>
                    <textarea th:errorclass="input-error" type="text" name="plaetze" th:placeholder="#{platzhalter.email}"></textarea><br>
                    <label th:if="*{#fields.hasErrors('plaetze')}" th:each="err : *{#fields.errors('plaetze')}" th:text="${err}"
                        class="label-error" for="plaetze">So sieht ein Fehler aus</label><br>
                </div>

                <div class="field-container">
                    <label th:text="#{tour.start}" for="start">Start</label><br>
                    <select th:field="*{start}" th:errorclass="input-error" name="start">
                        <option th:if="${tnummer} eq 0" th:text="---" th:value="0">Invalid</option>
                        <option th:each="o: ${orte}" th:value="${o.id}" th:text="${o.name}"></option>
                    </select>
                    <label th:if="*{#fields.hasErrors('start')}" th:each="err : *{#fields.errors('start')}" th:text="${err}" class="label-error" for="start">So sieht ein Fehler aus</label><br>
                </div>

                <div class="field-container">
                    <label th:text="#{tour.ziel}" for="ziel">Ziel</label><br>
                    <select th:field="*{ziel}" th:errorclass="input-error" name="ziel">
                        <option th:if="${tnummer} eq 0" th:text="---" th:value="0">Invalid</option>
                        <option th:each="o: ${orte}" th:value="${o.id}" th:text="${o.name}"></option>
                    </select>
                    <label th:if="*{#fields.hasErrors('ziel')}" th:each="err : *{#fields.errors('ziel')}" th:text="${err}" class="label-error" for="ziel">So sieht ein Fehler aus</label><br>
                </div>

                <div class="field-container">
                    <label th:text="#{tour.preis}" for="preis">Preis</label><br>
                    <input th:errorclass="input-error" th:field="*{preis}" type="text" name="preis" th:placeholder="#{platzhalter.nachname}"><br>
                    <label th:if="*{#fields.hasErrors('preis')}" th:each="err : *{#fields.errors('preis')}" th:text="${err}" class="label-error" for="preis">So sieht ein Fehler aus</label><br>
                </div>

                <div class="field-container">
                    <label th:text="#{tour.plaetze}" for="plaetze">Plätze</label><br>
                    <input th:errorclass="input-error" th:field="*{plaetze}"  type="text" name="plaetze" th:placeholder="#{platzhalter.email}"><br>    
                    <label th:if="*{#fields.hasErrors('plaetze')}" th:each="err : *{#fields.errors('plaetze')}" th:text="${err}" class="label-error" for="plaetze">So sieht ein Fehler aus</label><br>
                </div>

                <div class="form-first-two-column-span">
                    <input class="form-submit" type="submit" th:value="#{benutzerprofil.speichern}">
                </div>
    
            </form>

        </div>
        
        <th:block th:replace="~{frag/kopffuss :: fuss}"></th:block>
    
    </body>
</html>