<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>MItfahrgemeinschaft</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/header.css"/>
        <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
        <link rel="stylesheet" type="text/css" href="/css/table.css"/>
        <link rel="stylesheet" type="text/css" href="/css/tour.css"/>
        <link rel="stylesheet" href="/fonts/TitilliumWeb-Regular.ttf" type="font/ttf">
        <!--<link rel="icon" type="image/jpeg" href="/icons/hsrm-icon.jpg">-->

    </head>

    <body>

        <th:block th:replace="~{frag/kopffuss :: kopf}"></th:block>

        <h2 th:text="#{tourliste.titel}">Tourenliste</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="cell-small">ID</th>
                    <th>Anbieter</th>
                    <th th:text="#{tour.abfahrt}">Abfahrt</th>
                    <th>Start</th>
                    <th>Ziel</th>
                    <th th:text="#{tour.preis}">Preis</th>
                    <th th:text="#{tour.plaetze}">Plätze</th>
                    <th class="cell-small"></th>
                    <th class="cell-small"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:classappend="${status.odd}? odd-li : even-li" th:each="ele,status : ${touren}" class="even-li">
                    <td th:text="${ele.id}">ID</td>
                    <td th:text="${ele.anbieter.surname}">Anbieter</td>
                    <td th:text="${ele.abfahrDateTime}">Abfahrt</td>
                    <td th:text="${ele.start.name}">Start</td>
                    <td th:text="${ele.ziel.name}">Ziel</td>
                    <td th:text="${ele.preis}">Preis</td>
                    <td th:text="${ele.plaetze}">Plätze</td>
                    <td><a th:text="#{liste.bearbeiten}" class="button edit" th:href="@{tour/{id}(id=${ele.id})}">Bearbeiten</a></div>
                    <td><a th:text="#{liste.loeschen}" class="button delete" th:href="@{tour/{id}/del(id=${ele.id})}">Löschen</a></div>
                </tr>
            </tbody>
        </table>
        <a th:text="#{tourliste.neu}" class="button add" th:href="@{tour/0}">Neue Tour</a>

        <th:block th:replace="~{frag/kopffuss :: fuss}"></th:block>
    
    </body>
</html>