<th:block th:fragment="kopf">

    <header>

        <div>
            <a th:href="@{~/benutzer}"><img th:src="@{/icons/Logo-Hochschule-RheinMain.png}"/></a>
            
            <h3 th:text="#{kopf.benutzer}">Benutzer bearbeiten</h3>
        </div>

        <div class="info-box" th:text="${info}" th:if="${info} != null">Es gibt Informationen</div>

        <nav>

            <a th:href="@{?sprache=de}">DE</a>
            <a th:href="@{?sprache=he}">HE</a>
            <a th:href="@{?sprache=by}">BY</a>
            <a th:href="@{?sprache=nl}">NL</a>
            <a th:href="@{?sprache=en}">EN</a>

        </nav>

    </header>

</th:block>

<th:block th:fragment="fuss">

    <footer>

        <a th:href="@{~/kontakt}" th:text="#{fuss.kontakt}">Kontakt</a>
        <a th:href="@{~/impressum}" th:text="#{fuss.impressum}">Impressum</a>

    </footer>

</th:block>