<th:block th:fragment="kopf">

    <header>

        <div>
            <img th:src="@{/icons/Logo-Hochschule-RheinMain.png}"/></a>
            <a th:href="@{~/admin/benutzer}" th:text="#{kopf.benutzer}">Benutzer bearbeiten</a>
            <a th:href="@{~/admin/ort}" >Orte</a>
            <a th:href="@{~/admin/tour}" >Touren</a>
        </div>

        <nav>

            <a th:href="@{?sprache=de}">DE</a>
            <a th:href="@{?sprache=he}">HE</a>
            <a th:href="@{?sprache=by}">BY</a>
            <a th:href="@{?sprache=nl}">NL</a>
            <a th:href="@{?sprache=en}">EN</a>

            <a th:href="@{/logout}">Logout</a>
        </nav>


    </header>

    <span class="info-box" th:text="${info}" th:if="${info} != null">Es gibt Informationen</span>

</th:block>

<th:block th:fragment="fuss">

    <footer>

        <span sec:authentication="name"></span>
        <a th:href="@{~/kontakt}" th:text="#{fuss.kontakt}">Kontakt</a>
        <a th:href="@{~/impressum}" th:text="#{fuss.impressum}">Impressum</a>

    </footer>

</th:block>