form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.2fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.form-wrapper {
    margin: 0;
    width: 50%;
}

.map {
    display: flex;
    flex-direction: column;
}

.map iframe {
    border: 1px solid black;
    height: 100%;
}

.map a {
    text-align: right;
    color: black;
}

.flex-wrapper {
    margin: 5%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}