<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>MItfahrgemeinschaft</title>
        <!--<link rel="icon" type="image/jpeg" href="/icons/hsrm-icon.jpg">-->
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>

    </head>

    <body>
        <h1>Benutzer <span th:text="${bnummer}">Platzhalter</span> bearbeiten</h1>

        <form th:action="@{#}" th:object="${formular}" method="post">

            <label for="name">Name</label><br>
            <input th:field="*{name}" type="text" name="name" placeholder="Max Mustermann"><br>

            <label for="mail">E-Mail</label><br>
            <input th:field="*{mail}"  type="text" name="mail" placeholder="max.mustermann@musterseite.de"><br>

            <label for="birthday">Geburtstag</label><br>
            <input type="date" name="birthday"><br>

            <div class="likes-flexbox">

                <div class="likes-input-wrapper">

                    <label for="dislike"><span>Mag ich</span></label><br>
                    <input type="text" id="like" name="like" placeholder="Eine tolle Sache"><br>
                    <label for="dislike"><span class="small-label">(max: <span th:text="${maxwunsch}">Platzhalter</span>)</span></label>

                    <ul>
                        <li th:each="ele,status : *{likes}" th:text="${ele}" class="like-listelement">Coffee</li>
                    </ul> 
    
                </div>
    
                <div class="likes-input-wrapper">
    
                    <label for="dislike"><span>Mag ich nicht</span></label><br>
                    <input type="text" id="dislike" name="dislike" placeholder="Eine blöde Sache">
                    <label for="dislike"><span class="small-label">(max: <span th:text="${maxwunsch}">Platzhalter</span>)</span></label>

                    <ul>
                        <li th:each="ele,status : *{dislikes}" th:text="${ele}" class="like-listelement">Coffee</li>
                    </ul> 
    
                </div>

            </div>

            <label for="password">Passwort</label><br>
            <input type="text" name="password" placeholder="Musterpasswort..."><br>

            <input type="submit" value="Speichern">

        </form>
    </body>
</html>