<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>MItfahrgemeinschaft</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/header.css"/>
        <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
        <link rel="stylesheet" type="text/css" href="/css/list.css"/>
        <link rel="stylesheet" href="/fonts/TitilliumWeb-Regular.ttf" type="font/ttf">
        <!--<link rel="icon" type="image/jpeg" href="/icons/hsrm-icon.jpg">-->

    </head>

    <body>

        <th:block th:replace="~{frag/kopffuss :: kopf}"></th:block>

        <div class="list-wrapper"> 
            <h2 th:text="#{benutzerliste.titel}">Benutzerliste</h2>
            <ul>

                <li class="odd-li">
                    <span>ID</span>
                    <span th:text="#{benutzer.vorname}">Vorname</span>
                    <span th:text="#{benutzer.nachname}">Nachname</span>
                    <span th:text="#{benutzer.email}">E-Mail</span>
                    <span th:text="#{benutzer.geburtstag}">Geburtstag</span>
                </li>

                <li th:classappend="${status.odd}? odd-li : even-li" th:each="ele,status : ${benutzer}" class="even-li">
                    <span th:text="${ele.id}">ID</span>
                    <span th:text="${ele.name}">Vorname</span>
                    <span th:text="${ele.surname}">Nachname</span>
                    <span th:text="${ele.mail}">E-Mail</span>
                    <span th:text="${ele.birthday}">Geburtstag</span>
                    <div><a th:text="#{liste.bearbeiten}" class="list-link edit" th:href="@{benutzer/{id}(id=${ele.id})}">Bearbeiten</a></div>
                    <div><a th:text="#{liste.loeschen}" class="list-link delete" th:href="@{benutzer/{id}/del(id=${ele.id})}">Löschen</a></div>
                </li>

            </ul>
            <a th:text="#{benutzerliste.neu}" class="list-link add" th:href="@{benutzer/0}">Neuer Benutzer</a>
        </div>

        <th:block th:replace="~{frag/kopffuss :: fuss}"></th:block>
    
    </body>
</html>