<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>MItfahrgemeinschaft</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/header.css"/>
        <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
        <link rel="stylesheet" type="text/css" href="/css/form.css"/>
        <link rel="stylesheet" href="/fonts/TitilliumWeb-Regular.ttf" type="font/ttf">
        <!--<link rel="icon" type="image/jpeg" href="/icons/hsrm-icon.jpg">-->

    </head>

    <body>

        <th:block th:replace="~{frag/kopffuss :: kopf}"></th:block>

        <div class="form-wrapper">

            <div class="form-header">
                <span th:if="${bnummer} gt 0" th:text="#{benutzerprofil.titel(${bnummer})}">Benutzer bearbeiten</span>
                <span th:if="${bnummer} eq 0" th:text="#{benutzerprofil.neu}">Neuer Benutzer</span>
            </div>

            <form th:action="@{#}" th:object="${formular}" method="post">

                <div class="field-container">
                    <label th:text="#{benutzer.vorname}" for="name">Vorname</label><br>
                    <input th:errorclass="input-error" th:field="*{name}" type="text" name="name" th:placeholder="#{platzhalter.vorname}"><br>
                    <label th:if="*{#fields.hasErrors('name')}" th:each="err : *{#fields.errors('name')}" th:text="${err}" class="label-error" for="name">So sieht ein Fehler aus</label><br>
                </div>

                <div class="field-container">
                    <label th:text="#{benutzer.nachname}" for="surname">Nachname</label><br>
                    <input th:errorclass="input-error" th:field="*{surname}" type="text" name="surname" th:placeholder="#{platzhalter.nachname}"><br>
                    <label th:if="*{#fields.hasErrors('surname')}" th:each="err : *{#fields.errors('surname')}" th:text="${err}" class="label-error" for="surname">So sieht ein Fehler aus</label><br>
                </div>

                <div class="likes-flexbox">
    
                    <div>

                        <label class="form-complex-label" for="like"><span th:text="#{benutzer.magich}"></span><span class="small-label"><span th:text="#{benutzer.max_preferences(${maxwunsch})}">Platzhalter</span></label>
                        <input th:classappend="${#lists.size(formular.likes) lt maxwunsch} ? '' : 'input-invisible'" type="text" id="like" name="like" th:placeholder="#{platzhalter.magich}">
    
                        <ul th:classappend="${#lists.size(formular.likes) gt 0} ? 'likes-border' : ''" class="likes-list">
                            <li th:classappend="${status.odd}? odd-li : even-li" th:each="ele,status : ${#lists.sort(formular.likes)}" th:text="${ele}">Coffee</li>
                        </ul> 
        
                    </div>
        
                    <div>
        
                        <label class="form-complex-label" for="dislike"><span th:text="#{benutzer.magichnicht}"></span><span class="small-label"><span th:text="#{benutzer.max_preferences(${maxwunsch})}">Platzhalter</span></span></label>
                        <input th:classappend="${#lists.size(formular.dislikes) lt maxwunsch} ? '' : 'input-invisible'" type="text" id="dislike" name="dislike" th:placeholder="#{platzhalter.magichnicht}">
    
                        <ul th:classappend="${#lists.size(formular.dislikes) gt 0} ? 'likes-border' : ''" class="likes-list">
                            <li th:classappend="${status.odd}? odd-li : even-li" th:each="ele,status : ${#lists.sort(formular.dislikes)}" th:text="${ele}">Coffee</li>
                        </ul> 
        
                    </div>
    
                </div>

                <div>
                    <label th:text="#{benutzer.email}" for="mail">E-Mail</label><br>
                    <input th:errorclass="input-error" th:field="*{mail}"  type="text" name="mail" th:placeholder="#{platzhalter.email}"><br>    
                    <label th:if="*{#fields.hasErrors('mail')}" th:each="err : *{#fields.errors('mail')}" th:text="${err}" class="label-error" for="mail">So sieht ein Fehler aus</label><br>
                </div>

                <div>
                    <label th:text="#{benutzer.geburtstag}" for="birthday">Geburtstag</label><br>
                    <input th:field="*{birthday}" type="date" name="birthday"><br>
                </div>
    
                <div class="form-first-two-column-span">
                    <label th:text="#{benutzer.passwort}" for="password">Passwort</label><br>
                    <input th:errorclass="input-error" type="password" name="password" th:placeholder="#{platzhalter.passwort}"><br>
                    <label th:if="*{#fields.hasErrors('password')}" th:each="err : *{#fields.errors('password')}" th:text="${err}" class="label-error" for="password">So sieht ein Fehler aus</label><br>
                </div>
    
                <div class="form-first-two-column-span">
                    <input class="form-submit" type="submit" th:value="#{benutzerprofil.speichern}">
                </div>
    
            </form>

        </div>

        <th:block th:replace="~{frag/kopffuss :: fuss}"></th:block>
    
    </body>
</html>