<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>MItfahrgemeinschaft</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" href="/fonts/TitilliumWeb-Regular.ttf" type="font/ttf">
        <!--<link rel="icon" type="image/jpeg" href="/icons/hsrm-icon.jpg">-->

    </head>

    <body>
        
        <div class="form-wrapper">

            <div class="form-header">
                Benutzer <span th:text="${bnummer}">Platzhalter</span> bearbeiten
            </div>

            <form th:action="@{#}" th:object="${formular}" method="post">

                <div class="field-container">
                    <label for="name">Vorname</label><br>
                    <input th:field="*{name}" type="text" name="name" placeholder="Maximus"><br>
                </div>

                <div class="field-container">
                    <label for="surname">Nachname</label><br>
                    <input th:field="*{surname}" type="text" name="surname" placeholder="Mustermann"><br>
                </div>

                <div>
                    <label for="mail">E-Mail</label><br>
                    <input th:field="*{mail}"  type="text" name="mail" placeholder="max.mustermann@musterseite.de"><br>    
                </div>

                <div>
                    <label for="birthday">Geburtstag</label><br>
                    <input th:field="*{birthday}" type="date" name="birthday"><br>
                </div>
    
                <div class="likes-flexbox">
    
                    <div>

                        <label class="form-complex-label" for="like"><span>Mag ich</span><span class="small-label">(max: <span th:text="${maxwunsch}">Platzhalter</span>)</span></label>
                        <input th:classappend="${#lists.size(formular.likes) lt maxwunsch} ? '' : 'input-invisible'" type="text" id="like" name="like" placeholder="Eine tolle Sache">
    
                        <ul th:classappend="${#lists.size(formular.likes) gt 0} ? 'likes-border' : ''" class="likes-list">
                            <li th:classappend="${status.odd}? odd-li : even-li" th:each="ele,status : ${#lists.sort(formular.likes)}" th:text="${ele}">Coffee</li>
                        </ul> 
        
                    </div>
        
                    <div>
        
                        <label class="form-complex-label" for="dislike"><span>Mag ich nicht</span><span class="small-label">(max: <span th:text="${maxwunsch}">Platzhalter</span>)</span></label>
                        <input th:classappend="${#lists.size(formular.dislikes) lt maxwunsch} ? '' : 'input-invisible'" type="text" id="dislike" name="dislike" placeholder="Eine blöde Sache">
    
                        <ul th:classappend="${#lists.size(formular.dislikes) gt 0} ? 'likes-border' : ''" class="likes-list">
                            <li th:classappend="${status.odd}? odd-li : even-li" th:each="ele,status : ${#lists.sort(formular.dislikes)}" th:text="${ele}">Coffee</li>
                        </ul> 
        
                    </div>
    
                </div>
    
                <div class="form-two-column-span">
                    <label for="password">Passwort</label><br>
                    <input type="password" name="password" placeholder="Musterpasswort..."><br>
                </div>
    
                <input class="form-submit form-two-column-span" type="submit" value="Speichern">
    
            </form>

        </div>
    
    </body>
</html>