<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>MItfahrgemeinschaft</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/header.css"/>
        <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
        <link rel="stylesheet" type="text/css" href="/css/form.css"/>
        <link rel="stylesheet" href="/fonts/TitilliumWeb-Regular.ttf" type="font/ttf">
        <!--<link rel="icon" type="image/jpeg" href="/icons/hsrm-icon.jpg">-->

    </head>

    <body>

        <th:block th:replace="~{frag/kopffuss :: kopf}"></th:block>

        <h2>Impressum</h2>

        <th:block th:replace="~{frag/kopffuss :: fuss}"></th:block>
    
    </body>
</html>