<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>MItfahrgemeinschaft</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/header.css"/>
        <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
        <link rel="stylesheet" type="text/css" href="/css/list.css"/>
        <link rel="stylesheet" href="/fonts/TitilliumWeb-Regular.ttf" type="font/ttf">
        <!--<link rel="icon" type="image/jpeg" href="/icons/hsrm-icon.jpg">-->

    </head>

    <body>

        <th:block th:replace="~{frag/kopffuss :: kopf}"></th:block>

        <div class="list-wrapper"> 
            <h2 th:text="#{ortliste.titel}">Ortliste</h2>
            <ul>

                <li class="odd-li">
                    <span>ID</span>
                    <span th:text="#{ort.name}">Name</span>
                    <span th:text="#{ort.geobreite}">Geobreite</span>
                    <span th:text="#{ort.geolaenge}">Geolänge</span>
                </li>

                <li th:classappend="${status.odd}? odd-li : even-li" th:each="ele,status : ${orte}" class="even-li">
                    <span th:text="${ele.id}">ID</span>
                    <span th:text="${ele.name}">Name</span>
                    <span th:text="${ele.geobreite}">Geobreite</span>
                    <span th:text="${ele.geolaenge}">Geolaenge</span>
                    <div><a th:text="#{liste.bearbeiten}" class="list-link edit" th:href="@{ort/{id}(id=${ele.id})}">Bearbeiten</a></div>
                    <div><a th:text="#{liste.loeschen}" class="list-link delete" th:href="@{ort/{id}/del(id=${ele.id})}">Löschen</a></div>
                </li>

            </ul>
            <a th:text="#{ortliste.neu}" class="list-link add" th:href="@{ort/0}">Neuer Ort</a>
        </div>

        <th:block th:replace="~{frag/kopffuss :: fuss}"></th:block>
    
    </body>
</html>