<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <title>MItfahrgemeinschaft</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/header.css"/>
        <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
        <link rel="stylesheet" type="text/css" href="/css/table.css"/>
        <link rel="stylesheet" href="/fonts/TitilliumWeb-Regular.ttf" type="font/ttf">
        <!--<link rel="icon" type="image/jpeg" href="/icons/hsrm-icon.jpg">-->

    </head>

    <body>

        <th:block th:replace="~{frag/kopffuss :: kopf}"></th:block>

        <h2 th:text="#{ortliste.titel}">Ortliste</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="cell-small">ID</th>
                    <th th:text="#{ort.name}">Name</th>
                    <th th:text="#{ort.geobreite}">Geobreite</th>
                    <th th:text="#{ort.geolaenge}">Geolänge</th>
                    <th class="cell-small"></th>
                    <th class="cell-small"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:classappend="${status.odd}? odd-li : even-li" th:each="ele,status : ${orte}" class="even-li">
                    <td th:text="${ele.id}">ID</td>
                    <td th:text="${ele.name}">Name</td>
                    <td th:text="${ele.geobreite}">Geobreite</td>
                    <td th:text="${ele.geolaenge}">Geolaenge</td>
                    <td><a th:text="#{liste.bearbeiten}" class="button edit" th:href="@{ort/{id}(id=${ele.id})}">Bearbeiten</a></td>
                    <td><a th:text="#{liste.loeschen}" class="button delete" th:href="@{ort/{id}/del(id=${ele.id})}">Löschen</a></td>
                </tr>
            </tbody>
        </table>

        <a th:text="#{ortliste.neu}" class="button add" th:href="@{ort/0}">Neuer Ort</a>

        <th:block th:replace="~{frag/kopffuss :: fuss}"></th:block>
    
    </body>
</html>